{% extends 'gui/main.html' %}
{% block content %}
        <div class="content">
        {% csrf_token %}
             <section>
                     <svg id="graph" width="930" height="806"/>
             </section>
             <section>
                <div id="details">
                </div>
            </section>
            <section>
                <div id="legend">
                    {% load staticfiles %}
                    <img src="{% static "images/cp_legend.png" %}" width="800px">
                </div>
            </section>
             <section>
                 <h1>
                     PeersWith Mismatches
                 </h1>
                 <div class="content">
                 <table class="table table-bordered table-striped" >
                 <thead>
                 <tr>
                 <th>Source NSA</th>
                 <th>Destination NSA</th>
                 </tr>
                 </thead>
                 <tbody>
                 {% for nsa1, nsa2 in peerswithmismatches %}
                 <tr>
                     <td style="padding-left: 30px">{{ nsa1 }}</td>
                     <td style="padding-left: 20px">{{ nsa2 }}</td>
                 </tr>
                 {% endfor %}
                 </tbody>
                 </table>
                 </div>
             </section>
            <section>
                 <h1>
                     No Peers
                 </h1>
                 <div class="content">
                 <table class="table table-bordered table-striped" >
                 <thead>
                 <tr>
                 <th>NSA</th>
                 </tr>
                 </thead>
                 <tbody>
                 {% for nsa in nopeers %}
                 <tr>
                     <td style="padding-left: 30px">{{ nsa }}</td>
                 </tr>
                 {% endfor %}
                 </tbody>
                 </table>
                 </div>
             </section>
            <section>
                 <h1>
                     Unknown Peers
                 </h1>
                 <div class="content">
                 <table class="table table-bordered table-striped" >
                 <thead>
                 <tr>
                 <th>NSA</th>
                 <th>Unknown NSA</th>
                 </tr>
                 </thead>
                 <tbody>
                 {% for nsa, unknown in unknownpeers %}
                 <tr>
                     <td style="padding-left: 30px">{{ nsa }}</td>
                     <td style="padding-left: 20px">{{ unknown }}</td>
                 </tr>
                 {% endfor %}
                 </tbody>
                 </table>
                 </div>
             </section>
            <section>
                 <h1>
                     NSAs not referenced
                 </h1>
                 <div class="content">
                 <table class="table table-bordered table-striped" >
                 <thead>
                 <tr>
                 <th>NSA</th>
                 </tr>
                 </thead>
                 <tbody>
                 {% for nsa in notref %}
                 <tr>
                     <td style="padding-left: 30px">{{ nsa }}</td>
                 </tr>
                 {% endfor %}
                 </tbody>
                 </table>
                 </div>
             </section>
        </div>
        <script type="text/javascript" src="http://d3js.org/d3.v3.js"></script>
        <script type="text/javascript">

            var graph = {{ graph_data|safe }};

            var width = 930,
                height = 806;

            // Blue, Red, Yellow, Black
//            var colors = ["#1f77b4", "#d62728", "#ff7f0e", "#000000"]

            // Green, Red, Yellow, Black, Orange, Blue
            var colors = ["#31B404", "#d62728", "#FFFF00", "#000000", "#ff7f0e", "#1f77b4"]

            var ping_colors = ["#008000", "#d62728", "#000000"]

            var svg = d3.select("#graph").append("svg:svg");
//            .attr("width", width)
//            .attr("height", height);

                var force = self.force = d3.layout.force()
                    .nodes(graph.nodes)
                    .links(graph.links)
                    .gravity(.05)
                    .distance(120)
                    .charge(-400)
                    .size([width, height])
                    .start();

//                var link = svg.selectAll(".link")
//                    .data(graph.links)
//                    .enter().append("svg:line")
////                    .attr("class", "link")
//                    .attr("marker-end", "url(#arrow)")
//                    .attr("class", "link arrow");
////                    .style("stroke", function(d) { return colors[d.value]; });

//                            <marker id="arrow" viewbox="0 -5 10 10" refX="43" refY="0"
//                                    markerWidth="6" markerHeight="6" orient="auto">
//                                <path d="M0,-5L10,0L0,5Z">


                svg.append("defs").append("marker")
                    .attr("id", "arrowheadorange")
                    .attr("refX", 28)
                    .attr("refY", 4)
//                    .attr("markerUnits", 2)
                    .attr("markerWidth", 10)
                    .attr("markerHeight", 10)
                    .attr("orient", "auto")
                    .style("fill", "#ff7f0e")
//                    .attr("viewbox", "0 -5 10 10")
                    .append("path")
                        .attr("d", "M 0 0 L 8 4 L 0 8 z");


                svg.append("defs").append("marker")
                    .attr("id", "arrowheadblack")
                    .attr("refX", 28)
                    .attr("refY", 4)
//                    .attr("markerUnits", 2)
                    .attr("markerWidth", 10)
                    .attr("markerHeight", 10)
                    .attr("orient", "auto")
                    .style("fill", "#000000")
//                    .attr("viewbox", "0 -5 10 10")
                    .append("path")
                        .attr("d", "M 0 0 L 8 4 L 0 8 z");


                var link = svg.append("g").selectAll("line.link")
                    .data(graph.links)
                    .enter().append("svg:line")
                    .attr("class", "link")
//                    .attr("marker-end", "url(#arrowheadorange)")
                    .attr("marker-end", function(d) { if (d.value == 4) {return "url(#arrowheadorange)"}
                                                            else {return "url(#arrowheadblack)"}})
                    .style("stroke", function(d) { return colors[d.value]; });



                var node_drag = d3.behavior.drag()
                    .on("dragstart", dragstart)
                    .on("drag", dragmove)
                    .on("dragend", dragend);

                function dragstart(d, i) {
                    force.stop()
                }

                function dragmove(d, i) {
                    d.px += d3.event.dx;
                    d.py += d3.event.dy;
                    d.x += d3.event.dx;
                    d.y += d3.event.dy;
                    tick();
                }

                function dragend(d, i) {
                    d.fixed = true;
                    tick();
                    force.resume();
                }

                var node = svg.selectAll("g.node")
                    .data(graph.nodes)
                    .enter().append("svg:g")
                    .attr("class", "node")
                    .call(node_drag)
                    .on("click", function(d){

                        var details = document.getElementById("details");
                        var peersroles = {{ peersroles|safe }};
                        var nsastopologies = {{ nsastopologies|safe }};

                        details.innerHTML = "";

                        var b = document.createElement('h4');
                        var b_text = document.createTextNode("Details for " + d.name + ":");
                        b.appendChild(b_text);
                        details.appendChild(b);
                        details.appendChild(document.createElement("br"))

                        for (var i = 0; i < peersroles.length; i++) {
                            var node_name = "urn:ogf:network:" + d.name
                            if (peersroles[i][0] == node_name) {
                                var text = peersroles[i][1];
                                var node = document.createTextNode(text);
                                var text_b = document.createElement('b');
                                text_b.appendChild(document.createTextNode("Role: "));
                                details.appendChild(text_b);
                                details.appendChild(node);
                                details.appendChild(document.createElement("br"))
                            }
                        }

                        for (var i = 0; i < nsastopologies.length; i++) {
                            var node_name = "urn:ogf:network:" + d.name
                            if (nsastopologies[i][0] == node_name) {
                                var text = nsastopologies[i][1];

                                if (nsastopologies[i][2] == 1){
                                    text += " (Mismatch)"
                                }

                                var node = document.createTextNode(text);
                                var text_b = document.createElement('b');
                                text_b.appendChild(document.createTextNode("Topology: "));
                                details.appendChild(text_b);
                                details.appendChild(node);
                                details.appendChild(document.createElement("br"))
                            }
                        }

                    })
                .call(node_drag);

                node.append("circle")
                    .attr("class", "circle")
                    .attr("r", 25) //radious
                    .style("fill", function(d) { return colors[d.group]; })
//                    .style("stroke", "red")
//                    .style("stroke", function(d) {
//                        connectivity = {{ cp_connectivity|safe }};
//
//                        for(key in connectivity) {
//                            if(connectivity[key][0].indexOf(d.name) != -1 ){
//                                return ping_colors[connectivity[key][1]];
//                            }
//                        }
//                        return ping_colors[2];
//                        });

                node.append("text")
//                    .attr("dx", 12)
//                    .attr("dy", ".35em")
                    .attr("text-anchor", "middle")
                    .text(function(d) { return d.name });

                force.on("tick", tick);

                function tick() {
//                    node.attr("cx", function(d) { return d.x = Math.max(32, Math.min(width - 32, d.x)); })
//                        .attr("cy", function(d) { return d.y = Math.max(32, Math.min(height - 32, d.y)); });

                    link.attr("x1", function(d) { return d.source.x; })
                        .attr("y1", function(d) { return d.source.y; })
                        .attr("x2", function(d) { return d.target.x; })
                        .attr("y2", function(d) { return d.target.y; });

                    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
                };
        </script>
{% endblock %}