{% extends 'gui/main.html' %}
{% block content %}
        <div class="content">
        {% csrf_token %}
             <section>
                 <h1>
                     isAlias Mismatches
                 </h1>
                 <div class="content">
                 <table class="table table-bordered table-striped" >
                 <thead>
                 <tr>
                 <!--<th>Source Domain</th>-->
                 <th>Source Port</th>
                 <!--<th>Destination Domain</th>-->
                 <th>Destination Port</th>
                 </tr>
                 </thead>
                 <tbody>
                 {% for src_domain, src_port, dst_domain, dst_port in isalias %}
                 <tr>
                     <!--<td style="padding-left: 30px">{{ src_domain }}</td>-->
                     <td style="padding-left: 20px">{{ src_port }}</td>
                     <!--<td style="padding-left: 30px">{{ dst_domain }}</td>-->
                     <td style="padding-left: 20px">{{ dst_port }}</td>
                 </tr>
                 {% endfor %}
                 </tbody>
                 </table>
                 </div>
             </section>
        </div>
{% endblock %}