{% extends 'gui/main.html' %}
{% block content %}
<script type="text/javascript">

    var isalias_ports = {{ isalias|safe }};
    var isalias_vlans = {{ isaliasvlans|safe }};
    var switches = {{ switches|safe }};

    function ports_table(domain) {

        var table = document.getElementById("port_table");

        table.innerHTML = "";

        for (var i = 0; i < isalias_ports.length; i++) {
            if (isalias_ports[i][0] == domain.value) {

                var row = table.insertRow(0);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);

                cell1.innerHTML = isalias_ports[i][1];
                cell2.innerHTML = isalias_ports[i][3];
            }
        }
    }

    function vlans_table(domain) {

        var table = document.getElementById("vlans_table");

        table.innerHTML = "";

        for (var i = 0; i < isalias_vlans.length; i++) {
            if (isalias_vlans[i][0] == domain.value) {

                var row = table.insertRow(0);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);

                cell1.innerHTML = isalias_vlans[i][1];
                cell2.innerHTML = isalias_vlans[i][2];
                cell3.innerHTML = isalias_vlans[i][4];
                cell4.innerHTML = isalias_vlans[i][5];
            }
        }
    }

    function switching_table(domain) {

        var table = document.getElementById("switch_table");

        table.innerHTML = "";

        for (var i = 0; i < switches.length; i++) {
            if (switches[i][0] == domain.value) {

                var row = table.insertRow(0);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);

                if (switches[i][1] == ''){
                    cell1.innerHTML = "Not Defined"
                } else {
                    cell1.innerHTML = switches[i][1];
                }

                cell2.innerHTML = switches[i][2];
                cell3.innerHTML = switches[i][4];
            }
        }
    }
</script>
<div class="content">
    {% csrf_token %}
    <section>
        <svg id="graph" width="930" height="806"/>
    </section>
    <section>
        <div id="details">
        </div>
    </section>
    <section>
        <h1>
            isAlias Port Mismatches
        </h1>
        <div class="content">

            <div class="content">
                <select name="src_domain" id="src_domain_select" onchange="ports_table(this)" align="left">
                    <option selected="selected" disabled>Select Topology</option>
                    {% for src_domain in isalias_domains %}
                    <option value="{{ src_domain }}">{{ src_domain }}</option>
                    {% endfor %}
                </select>

            </div>


            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <!--<th>Source Domain</th>-->
                    <th>Source Port</th>
                    <!--<th>Destination Domain</th>-->
                    <th>Destination Port</th>
                </tr>
                </thead>
                <tbody id="port_table">

                </tbody>
            </table>
        </div>
    </section>



    <section>
        <h1>
            isAlias VLAN Mismatches
        </h1>
        <div class="content">

            <div class="content">
                <select name="src_domain" id="src_domain_vlan_select" onchange="vlans_table(this)" align="left">
                    <option selected="selected" disabled>Select Topology</option>
                    {% for src_domain in isaliasvlans_domains %}
                    <option value="{{ src_domain }}">{{ src_domain }}</option>
                    {% endfor %}
                </select>

            </div>


            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Source Port</th>
                    <th>VLANs</th>
                    <th>Destination Port</th>
                    <th>VLANs</th>
                </tr>
                </thead>
                <tbody id="vlans_table">

                </tbody>
            </table>
        </div>
    </section>

    <section>
            <h1>
                Switching Service
            </h1>
            <div class="content">

                <div class="content">
                    <select name="src_domain" id="src_domain_switch_select" onchange="switching_table(this)" align="left">
                        <option selected="selected" disabled>Select Topology</option>
                        {% for src_domain in switch_domains %}
                        <option value="{{ src_domain }}">{{ src_domain }}</option>
                        {% endfor %}
                    </select>

                </div>


                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Switching Service</th>
                        <th>Label Swapping</th>
                        <th>Switch Type</th>
                        <!--<th>Label Type</th>-->
                        <!--<th>Encoding</th>-->
                    </tr>
                    </thead>
                    <tbody id="switch_table">

                    </tbody>
                </table>
            </div>
        </section>
    <!--<section>-->
        <!--<h1>-->
            <!--Switching Service-->
        <!--</h1>-->
        <!--<div class="content">-->
            <!--<table class="table table-bordered table-striped" >-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>Topology</th>-->
                    <!--<th>Switch Service</th>-->
                    <!--<th>Label Swapping</th>-->
                    <!--<th>Switch Type</th>-->
                    <!--&lt;!&ndash;<th>Label Type</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>Encoding</th>&ndash;&gt;-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--{% for topology, service, labelswapping, labeltype, switchtype, encoding in switch %}-->
                <!--<tr>-->
                    <!--<td style="padding-left: 30px">{{ topology }}</td>-->
                    <!--<td style="padding-left: 20px">{{ service }}</td>-->
                    <!--<td style="padding-left: 20px">{{ labelswapping }}</td>-->
                    <!--<td style="padding-left: 30px">{{ switchtype }}</td>-->
                    <!--&lt;!&ndash;<td style="padding-left: 20px">{{ labeltype }}</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td style="padding-left: 20px">{{ encoding }}</td>&ndash;&gt;-->
                <!--</tr>-->
                <!--{% endfor %}-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    <!--</section>-->
</div>
<script type="text/javascript" src="http://d3js.org/d3.v3.js"></script>
<!--<script type="text/javascript" src="http://www.json.org/json_parse.js"></script>-->
<script type="text/javascript">

    var graph = {{ graph_data|safe }};

    var width = 930, height = 806;

    // Green, Red, Yellow, Black, Orange, Blue
    var colors = ["#31B404", "#d62728", "#FFFF00", "#000000", "#ff7f0e", "#1f77b4"]

    var ping_colors = ["#008000", "#d62728", "#000000"]

    var svg = d3.select("#graph").append("svg:svg");

    var force = self.force = d3.layout.force()
            .nodes(graph.nodes)
            .links(graph.links)
            .gravity(.05)
            .distance(120)
            .charge(-400)
            .size([width, height])
            .start();

//    svg.append("defs").append("marker")
//            .attr("id", "arrowheadorange")
//            .attr("refX", 28)
//            .attr("refY", 4)
//            .attr("markerWidth", 10)
//            .attr("markerHeight", 10)
//            .attr("orient", "auto")
//            .style("fill", "#ff7f0e")
//            .append("path")
//            .attr("d", "M 0 0 L 8 4 L 0 8 z");
//
//
//    svg.append("defs").append("marker")
//            .attr("id", "arrowheadblack")
//            .attr("refX", 28)
//            .attr("refY", 4)
//            .attr("markerWidth", 10)
//            .attr("markerHeight", 10)
//            .attr("orient", "auto")
//            .style("fill", "#000000")
//            .append("path")
//            .attr("d", "M 0 0 L 8 4 L 0 8 z");


    var link = svg.append("g").selectAll("line.link")
            .data(graph.links)
            .enter().append("svg:line")
            .attr("class", "link")
//            .attr("marker-end", function(d) { if (d.value == 4) {return "url(#arrowheadorange)"}
//            else {return "url(#arrowheadblack)"}})
            .style("stroke", function(d) { return colors[d.value]; });


    var node_drag = d3.behavior.drag()
            .on("dragstart", dragstart)
            .on("drag", dragmove)
            .on("dragend", dragend);

    function dragstart(d, i) {
        force.stop()
    }

    function dragmove(d, i) {
        d.px += d3.event.dx;
        d.py += d3.event.dy;
        d.x += d3.event.dx;
        d.y += d3.event.dy;
        tick();
    }

    function dragend(d, i) {
        d.fixed = true;
        tick();
        force.resume();
    }

    var node = svg.selectAll("g.node")
            .data(graph.nodes)
            .enter().append("svg:g")
            .attr("class", "node")
            .on("click", function(d){
//                alert(d.name);

                var details = document.getElementById("details");
                var isalias_ports = {{ isalias|safe }};
                var isalias_vlans = {{ isaliasvlans|safe }};
                var nsastopologies = {{ nsastopologies|safe }};


                details.innerHTML = "";

                var b = document.createElement('h4');
                var b_text = document.createTextNode("Details for " + d.name + ":");
                b.appendChild(b_text);
                details.appendChild(b);
                details.appendChild(document.createElement("br"))

                for (var i = 0; i < nsastopologies.length; i++) {
                            var node_name = "urn:ogf:network:" + d.name
                            if (nsastopologies[i][1] == node_name) {
                                var text = nsastopologies[i][0];
                                var node = document.createTextNode(text);
                                var text_b = document.createElement('b');
                                text_b.appendChild(document.createTextNode("NSA: "));
                                details.appendChild(text_b);
                                details.appendChild(node);
                                details.appendChild(document.createElement("br"))
                            }
                        }

                details.appendChild(document.createElement("br"))

                for (var i = 0; i < isalias_ports.length; i++) {
                    var node_name = "urn:ogf:network:" + d.name
                    if (isalias_ports[i][0] == node_name) {
                        var text = isalias_ports[i][1] + " > "  + isalias_ports[i][3];
                        var node = document.createTextNode(text);
                        var mismatch_text_b = document.createElement('b');
                        mismatch_text_b.appendChild(document.createTextNode("isAlias Mismatch: "));
                        details.appendChild(mismatch_text_b);
                        details.appendChild(node);
                        details.appendChild(document.createElement("br"))
                    }
                }

                for (var i = 0; i < isalias_vlans.length; i++) {
                    var node_name = "urn:ogf:network:" + d.name
                    if (isalias_vlans[i][0] == node_name) {
                        var text = isalias_vlans[i][1] + " (" + isalias_vlans[i][2] + ") < > " + isalias_vlans[i][4] + " (" + isalias_vlans[i][5] + ")";
                        var node = document.createTextNode(text);
                        var mismatch_text_b = document.createElement('b');
                        mismatch_text_b.appendChild(document.createTextNode("isAlias VLAN Mismatch: "));
                        details.appendChild(mismatch_text_b);
                        details.appendChild(node);
                        details.appendChild(document.createElement("br"))
                    }
                }


            })
            .call(node_drag);

    node.append("circle")
            .attr("class", "circle")
            .attr("r", 25) //radious
            .style("fill", function(d) { return colors[d.group]; })

    node.append("text")
            .attr("text-anchor", "middle")
            .text(function(d) { return d.name });

    force.on("tick", tick);

    function tick() {

        link.attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

        node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
    };
</script>
{% endblock %}